# DF aparici√≥n de concursante en Tweet.

In [44]:
import pandas as pd 
import re

In [64]:
#Importamos df completo, tweets y sentimientos. 

df = pd.read_excel('DF_FINAL_IT4_FECHACAMBIADA.xlsx')

In [65]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Datetime,Tweet Id,Username,Description,Location,Following,Followers,Total Tweets,Text,Hashtags,Total sentimiento,Positivo,Neutral,Negativo
0,0,0,0,0,2021-02-04 04:52:07,1357507262231825920,Irenita17hotma1,t√©cnico de marketing y comercio internacional,"Vigo, Espa√±a",585,15,35,LaIslaDeLasTentaciones4 deseando que sea el do...,"[{'text': 'LaIslaDeLasTentaciones4', 'indices'...",negative,0.17,0.17,0.66
1,1,1,1,1,2021-02-04 04:50:09,1357506766909627904,Ana_dmati,‚ôÄSanitaria madrile√±a. Bastante indie. Soy muy ...,"Madrid, Espa√±a",506,416,35637,M√°s Jesuses en la vida.LaIslaDeLasTentaciones4,"[{'text': 'LaIslaDeLasTentaciones4', 'indices'...",neutral,0.27,0.62,0.11
2,2,2,2,2,2021-02-04 04:48:38,1357506387971100928,lauralosadaa,üìçC√≥rdoba.\n‚Ñúùî¨ùî∑ùîûùî´ùî°ùî¨ ùî¢ùî© ùî©√≠ùî™ùî¶ùî±ùî¢,NaN,149,87,494,Me da mucha pena Luc√≠a la verdad LaIslaDeLasTe...,"[{'text': 'LaIslaDeLasTentaciones4', 'indices'...",negative,0.17,0.07,0.76
3,3,3,3,3,2021-02-04 04:47:43,1357506157720591872,roooooonie99,"Nac√≠ a la temprana edad de 0 a√±os, vivo para c...",BARCEEELONA!,825,191,5441,Arranca por la derecha el genio del f√∫tbol mun...,"[{'text': 'LaIslaDeLasTentaciones4', 'indices'...",positive,0.51,0.29,0.20
4,4,4,4,4,2021-02-04 04:45:17,1357505542990757888,aps_boreal,Qu√©date con qui√©n te mira como Chat Noir a Lad...,üçë,311,480,19190,"Solo os digo una cosa, en la casa de los chico...","[{'text': 'LaIslaDeLasTentaciones4', 'indices'...",negative,0.10,0.19,0.71

In [66]:
# Nos quedamos con las columnas que necesitamos
df = df[['Tweet Id','Text','Total sentimiento']]

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55917 entries, 0 to 55916
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tweet Id           55917 non-null  int64
 1   Text               55917 non-null  object
 2   Total sentimiento  55917 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

In [68]:
#Pasamos a mayusculas el tesxto que vamos a filtar.Opcional
df_texto = df['Text'].apply(lambda x :x.upper())

In [69]:
#Funci√≥n para normalizar los nombres.

nombre = {'DIEGO': 'DIEGO',
               'LOLA': 'LOLA',
               'JESUS': 'JESUS',
               'JES√öS': 'JESUS',
               'MARINA': 'MARINA',
               'LARA': 'LARA',
               'HUGO': 'HUGO',
               'HUGI√ëO':'HUGO',
               'RAUL': 'RAUL',
               'RA√öL': 'RAUL',
               'CLAUDIA': 'CLAUDIA',
               'MANUEL': 'MANUEL',
               'MANU': 'MANUEL',
               'MANU√â': 'MANUEL',
               'MANU√â': 'MANUEL',
               'LUCIA': 'LUCIA',
               'LUC√çA': 'LUCIA'
          }
nombres = nombre.items()

re.sub(r"\bis\b", "was", "This is the best island!")
lista_abreviaturas =[]
df_texto_limpio = df_texto.copy()
for a, b in nombres:
    #lista_abreviaturas = list(map(lambda x : x.replace(x,i), df['Text']))
    b = " " +b+ " "
    
    #dfMo['Text'] = dfMo['Text'].apply(lambda x :re.sub(a, b, x))
    df_texto_limpio= df_texto_limpio.str.replace(a,b)
    

print(df_texto_limpio)

0        LAISLADELASTENTACIONES4 DESEANDO QUE SEA EL DO...
1         M√ÅS  JESUS ES EN LA VIDA.LAISLADELASTENTACIONES4
2        ME DA MUCHA PENA  LUCIA  LA VERDAD LAISLADELAS...
3        ARRANCA POR LA DERECHA EL GENIO DEL F√öTBOL MUN...
4        SOLO OS DIGO UNA COSA, EN LA CASA DE LOS CHICO...
                               ...
55912    EN EL CAP√çTULO DE HOY DE  AL PRINCIPIO OS SENT...
55913    HOY JUEGA EL BETIS SABEIS LO QUE ESO SIGNIFICA...
55914    EN SU D√çA ME ENGANCHO , PERO YA ME PARECE ABUR...
55915    LO QUE VOY A DECIR ES MUY TRISTE PERO ME HE PA...
55916    NO ES POR HACER SPOILER PERO  LUCIA  EL INFART...
Name: Text, Length: 55917, dtype: object

In [70]:
#Hacemos un split para dividir el tweet en palabras.

df_texto =df_texto_limpio.str.split(' ', expand=True)

In [71]:
#Concatenamos el texto con el df completo. As√≠ tenemos el tweet relacionado con su Id.

df_nombres= pd.concat([df, df_texto],1)

In [72]:
df_nombres.drop(['Text'],1,inplace = True)

In [73]:
#Hacemos un melt para pasar todas las palabras a una columna.

df_buscar_nombres = pd.melt(df_nombres, id_vars =('Tweet Id','Total sentimiento'), var_name ='Borrar', value_name ='Palabras')

In [74]:
#Eliminamos valores vacios.

df_buscar_nombres.dropna(inplace = True)

In [75]:
df_buscar_nombres

                    Tweet Id Total sentimiento Borrar                 Palabras
0        1357507262231825920          negative      0  LAISLADELASTENTACIONES4
1        1357506766909627904           neutral      0                      M√ÅS
2        1357506387971100928          negative      0                       ME
3        1357506157720591872          positive      0                  ARRANCA
4        1357505542990757888          negative      0                     SOLO
...                      ...               ...    ...                      ...
6480399  1357442457336741888           neutral    115
6536316  1357442457336741888           neutral    116
6592233  1357442457336741888           neutral    117
6648150  1357442457336741888           neutral    118
6704067  1357442457336741888           neutral    119  LAISLADELASTENTACIONES4

[784386 rows x 4 columns]

In [76]:
#Filtramos para quedarnos solo con las filas que contengan algun concursante.

df_concursantes = df_buscar_nombres[(df_buscar_nombres['Palabras'] == 'HUGO')
                         | (df_buscar_nombres['Palabras'] == 'LOLA')
                         | (df_buscar_nombres['Palabras'] == 'DIEGO')
                         | (df_buscar_nombres['Palabras'] == 'JESUS')
                         | (df_buscar_nombres['Palabras'] == 'MARINA')
                         | (df_buscar_nombres['Palabras'] == 'LARA')
                         | (df_buscar_nombres['Palabras'] == 'RAUL')
                         | (df_buscar_nombres['Palabras'] == 'CLAUDIA') 
                         | (df_buscar_nombres['Palabras'] == 'MANUEL')
                         | (df_buscar_nombres['Palabras'] == 'LUCIA')]

In [77]:
df_concursantes['Palabras'].value_counts()

MANUEL     7011
MARINA     6052
LUCIA      5674
JESUS      5349
LARA       3910
LOLA       3440
HUGO       3038
DIEGO      1689
CLAUDIA     459
RAUL        434
Name: Palabras, dtype: int64

In [78]:
#Guardamos DF 
df_concursantes.to_excel('Conciursantes_sentimientos.xlsx')